<header class="docs-header-background">
  <div class="header-section">
    <div class="header-headline"><h1 class="mat-h1" i18n="@@createComputer">Create Computer</h1></div>
  </div>
</header>

<div class="form-section">
  <div class="myform-row">
    <mat-card class="error-card" *ngIf="mode" i18n="@@computerNotCreated">Computer not created, error: {{erreur}} {{errorBody}} </mat-card>
    <form
      class="example-container"
      [formGroup]="createComputerForm"
      (submit)="postComputer()"
    >
      <mat-form-field>
        <input
          matInput
          i18n-placeholder="@@name"
          placeholder="Computer Name"
          formControlName="computerName"
        />
        <mat-error *ngIf="createComputerForm.get('computerName').hasError('required')" i18n="@@computerNameRequired">
          Computer name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="pickerIntro"
          i18n-placeholder="@@introduced"
          placeholder="Introduced date"
          formControlName="introduced"
          disabled
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerIntro"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerIntro disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="pickerDiscon"
          i18n-placeholder="@@discontinued"
          placeholder="Discontinued date"
          formControlName="discontinued"
          disabled
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerDiscon"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerDiscon disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select i18n-placeholder="@@companyId" placeholder="Company  ID" formControlName="companyId">
          <mat-option *ngFor="let company of companyList" [value]="company.id">
            {{ company.id }}. {{company.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <div class="button-onright">
          <button
            class="submit-btn"
            color="primary"
            i18n="@@createButton"
            mat-raised-button
            type="submit"
            [disabled]="!createComputerForm.valid"
          >
            Create
          </button>
        </div>
    </form>
  </div>
</div>
