body {
  height: 92%;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.elements {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
}
