<header class="docs-header-background">
  <div class="header-section">
    <div class="header-headline"><h1 class="mat-h1">Registration</h1></div>
  </div>
</header>

<div class="form-section">
  <div class="myform-row">
    <mat-card class="error-card" *ngIf="mode" i18n="@@userNotCreated">
      User not created, error: {{ erreur }} {{ errorBody }}
    </mat-card>
    <form
      class="example-container"
      [formGroup]="userForm"
      (submit)="postUser()"
    >
      <mat-form-field>
        <input
          matInput
          i18n-placeholder="@@username"
          placeholder="Username"
          formControlName="username"
        />
        <mat-error *ngIf="userForm.get('username').hasError('required')" i18n="@@userNameRequired">
          User name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          class="input"
          matInput
          i18n-placeholder="@@passwordEnter"
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
        <mat-error *ngIf="userForm.get('password').hasError('required')" i18n="@@passwordRequired">
          Password is required
        </mat-error>
        <mat-error *ngIf="userForm.get('password').hasError('minlength')" i18n="@@passwordLengthError">
          Password must be at least 8 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          class="input"
          matInput
          i18n-placeholder="@@passwordConfirm"
          placeholder="Confirm password"
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
        />
        <mat-icon
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          >{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon
        >
        <mat-error
          *ngIf="userForm.hasError('notSame')"
          i18n="@@passwordNotMatching"
        >
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <div class="button-onright">
        <button
          class="submit-btn"
          color="primary"
          mat-raised-button
          type="submit"
          i18n="@@submit"
          [disabled]="!userForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
