.docs-header-background {
  background-size:100% 260%;
  background-image: url(../../../../assets/images/material.jpg);
  background-repeat: no-repeat;
}

.input {
  width: 30em;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}
