.footer {
  height: 8%;
  background: linear-gradient(to bottom, #0d0d20 0%, #4b4ba5 100%);
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
}

a {
color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.version {
  padding: 0 14px;
}
