<div class="wrapper">
  <div class="elements">
    <div class="question">
      <p i18n="@@welcomeSentence">What do you want to display ?</p>
    </div>

    <div class="buttons">
      <button
        class="button"
        i18n="@@computersButton"
        style="margin-right: 5px;"
        mat-button
        [routerLink]="['/computers']"
      >
        <mat-icon>computer</mat-icon>
      </button>
      <button
        class="button"
        i18n="@@companiesButton"
        style="margin-left: 5px;"
        mat-button
        [routerLink]="['/companies']"
      >
        <mat-icon>business</mat-icon>
      </button>
    </div>
  </div>
</div>
