<div class="wrapper">
  <div class="elements">
    <div class="question">
      <p i18n="@@welcomeSentence">What do you want to display ?</p>
    </div>

    <div class="buttons">
      <button
        class="button button1"
        i18n="@@computersButton"
        mat-button
        [routerLink]="['/computers']"
      >
      </button>
      <button
        class="button button2"
        i18n="@@companiesButton"
        mat-button
        [routerLink]="['/companies']"
      >
      </button>
    </div>
  </div>
</div>
