<header
  ng-include="'../../shared/components/header/header.component.html'"
></header>
<body>
  <div class="elements">
    <div class="question"><p>What do you want to display ?</p></div>

    <div class="buttons">
      <button class="button" style="margin-right: 5px;" mat-button [routerLink]="['/computers']">
        <mat-icon>computer</mat-icon>
        Computers
      </button>
      <button
        class="button" style="margin-left: 5px;"
        mat-button
        *ngIf="userService.isAdmin()"
        [routerLink]="['/companies']"
      >
        <mat-icon>business</mat-icon>
        Companies
      </button>
    </div>
  </div>
</body>
