.docs-header-background {
  background-size:100% 260%;
  background-image: url(../../../../assets/images/material.jpg);
  background-repeat: no-repeat;
  color: black;
}

.input {
  width: 10em;
}

.button {
    border: 2px solid rgb(79, 109, 207);
}

.button-div {
  display: flex;
  margin-top: 2%;
}

.button-register {
  width: 50%;
}

.button-login {
  width: 50%;
  text-align: right;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}
