body {
  height: 92%;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

div.elements {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.buttons {
  display: inline;
  flex-direction: row;
}

.button {
    border: 2px solid rgb(79, 109, 207);
}

.example-container {
  font-size: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
