<header class="docs-header-background">
  <div class="header-section">
    <div class="header-headline"><h1 class="mat-h1" i18n="@@authenticationTitle">Authentication</h1></div>
  </div>
</header>

<div class="form-section">
  <div class="myform-row">
    <mat-card class="error-card error-card-visible" *ngIf="mode" i18n="@@wrongUserErrorMessage">Incorrect password or username</mat-card>
    <mat-card class="error-card error-card-invisible" *ngIf="!mode" i18n="@@wrongUserErrorMessage">Incorrect password or username</mat-card>
    <form
      class="example-container"
      [formGroup]="loginForm"
      (submit)="onLogin()"
    >
      <mat-form-field>
        <input
          matInput
          i18n-placeholder="@@username"
          placeholder="Username"
          type="text"
          formControlName="username"
        />
        <mat-error *ngIf="loginForm.get('username').hasError('required')" i18n="@@userNameRequired">
          User name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          i18n-placeholder="@@password"
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
        <mat-error *ngIf="loginForm.get('password').hasError('required')" i18n="@@passwordRequired">
          Password is required
        </mat-error>
      </mat-form-field>
      <div class="button-div">
        <div class="button-register">
          <button i18n="@@registerButton" type="button" [routerLink]="['/registration']" mat-flat-button>
            Register
          </button>
        </div>
        <div class="button-login">
          <button
            class="submit-btn"
            color="primary"
            mat-raised-button
            i18n="@@loginButton"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
