<div class="example-container">
  <form [formGroup]="computerForm" (submit)="postChanges()">
    <mat-form-field>
      <input matInput
        i18n-placeholder="@@name" placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        i18n-placeholder="@@introduced"
        placeholder="Introduced date"
        formControlName="introduced"
      /> </mat-form-field
    ><mat-form-field>
      <input
        matInput
        i18n-placeholder="@@discontinued"
        placeholder="Discontinued date"
        formControlName="discontinued"
      /> </mat-form-field
    ><mat-form-field>
      <input matInput
        i18n-placeholder="@@companyId" placeholder="Company id" formControlName="id_company" />
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" i18n="@@updateButton" type="submit">Update</button>
    </mat-card-actions>
  </form>
</div>
